@import url(http://weloveiconfonts.com/api/?family=entypo);
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}
body{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.382;
    color: #333;
    -webkit-overflow-scrolling: touch;
    background: url("../img/background.jpg") center;
    font-weight: 400;
    margin: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/*
   Added to dropdown menu on hover
 */
.dropdown-menu a:hover {
    background: #fff;
}
.dropdown:hover .dropdown-menu {
    display: block;
}

/*
   Edit navmenu color
 */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: #b75633;
}
a{
    color:#fff;
}

.sc-footer {
    color: rgba(255,255,255,.5);
}


.sc-box{
    background:rgba(242, 245, 249,.9);
    margin-top:15px;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
/*
    Slider
 */
.carousel .carousel-item {
    height: 20em;
}
.carousel .carousel-item > *:first-child {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
}
/*
    Add css for login form
 */
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.list-group-item.active{
    background: rgba(44,62,80,.7);
    border-color: rgba(44,62,80,.7);
}

.col_crud{
    background: rgba(44,62,80,.7);
}

.card-header{
    background: #fff;
    padding:0;
}
